.about {
    padding: 50px 20px;
    background-color: white; /* White background */
    color: black; /* Black text */
    text-align: center;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 25px; 
    background-color: black;
    color: white;
    width: 500px;
    margin: 0 auto 50px; /* Centers the heading horizontally */
    padding: 10px; /* Adds padding inside the heading */
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  