.about {
  padding: 50px 20px;
  background-image: url('../../public/images/AboutUsImage.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  color: white; /* Makes the text stand out on a background image */
  text-align: center;
  
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  background-color: white; /* Semi-transparent black background for better contrast */
  color: black;
  width: 300px;
  margin: 0 auto 50px;
  padding: 10px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent background to text */
  display: inline-block; /* Makes the text fit tightly around content */
  padding: 10px; /* Adds spacing inside the text block */
  border-radius: 10px; /* Rounds the corners of the text block */
  width: 80%;
}
