.contact-section {
    padding: 40px 20px;
    background-color: black;
    background-image: url('../resources/images/AboutUsImage.jpg');
    color: white
  }
  
  .contact-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    background-color: white; /* Semi-transparent black background for better contrast */
    color: black;
    width: 300px;
    margin: 0 auto 50px;
    padding: 10px;
    text-align: center; 
  }
  
  
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    font-size: 1rem;
    text-align: center;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  