.footer {
  padding: 20px;
  background-color: white; /* White background */
  color: black; /* Black text */
  border-top: 2px solid black;
  display: flex; /* Use Flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  position: relative; /* Position for absolute children */
}

.footer p {
  margin: 0;
  text-align: center;
}

.social-links {
  position: absolute; /* Position links on the right */
  right: 20px; /* Distance from the right edge */
}

.social-links a {
  display: inline-block; /* Ensure the link behaves as a block */
  color: black;
  text-decoration: none;
}


.managed-by {
  margin-top: 5px; /* Adds space between the Instagram link and the new text */
  font-size: 1rem; /* Set appropriate font size */
  color: #aaa; /* Slightly lighter color for the business text */
}
