.footer {
    padding: 20px;
    background-color: white; /* White background */
    color: black; /* Black text */
    text-align: center;
    border-top: 2px solid black;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }


.managed-by {
  margin-top: 5px; /* Adds space between the Instagram link and the new text */
  font-size: 1rem; /* Set appropriate font size */
  color: #aaa; /* Slightly lighter color for the business text */
  margin-top: 10px; /* Space above the business text */
}
  